<div class="content-container" [@tuiFadeIn]>
  <p class="page-title">Registrazione</p>
  <form
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
  >

    <tui-textfield>
      <label tuiLabel>Nome</label>
      <input formControlName="firstName" tuiTextfield />
      <tui-error
        [error]="signupForm.get('firstName')?.errors?.['required'] && signupForm.get('firstName')?.touched">
        Il nome è obbligatorio
      </tui-error>
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Cognome</label>
      <input formControlName="lastName" tuiTextfield />
      <tui-error
        [error]="signupForm.get('lastName')?.errors?.['required'] && signupForm.get('lastName')?.touched">
        Il cognome è obbligatorio
      </tui-error>
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Email</label>
      <input formControlName="email" tuiTextfield />
      <tui-error
        [error]="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">
        L'email è obbligatoria
      </tui-error>
      <tui-error
        [error]="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched">
        Inserisci un'email valida
      </tui-error>
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Password</label>
      <input formControlName="password" type="password" tuiTextfield />
      <tui-error
        [error]="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched">
        La password è obbligatoria
      </tui-error>
      <tui-error
        [error]="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">
        La password deve contenere almeno 6 caratteri
      </tui-error>
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Conferma password</label>
      <input formControlName="confirmPassword" type="password" tuiTextfield />
      <tui-error
        [error]="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched">
        Le password non corrispondono
      </tui-error>
    </tui-textfield>

    <footer>
      <button appearance="secondary" tuiButton type="button" [routerLink]="'/reports'">Annulla</button>
      <button [disabled]="!signupForm.valid || isLoggingIn" tuiButton type="submit">
        {{ isLoggingIn ? 'Registrazione in corso...' : 'Registrati' }}
      </button>
    </footer>
  </form>
</div>