<div class="login-container">
  <h2>Login</h2>
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Inserisci un'email valida">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="La password deve avere almeno 6 caratteri">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>