<div class="content-container" [@tuiFadeIn] [@tuiHeightCollapseList]>
  <p class="page-title">Login</p>
  <form
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
  >
    <tui-textfield>
      <label tuiLabel>Email</label>
      <input formControlName="email" tuiTextfield />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Password</label>
      <input formControlName="password" type="password" tuiTextfield />
    </tui-textfield>

    <footer>
      <button appearance="secondary" tuiButton type="button" [routerLink]="'/reports'">Annulla</button>
      <button [disabled]="!loginForm.valid" tuiButton type="submit">Accedi</button>
    </footer>
  </form>
</div>