:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.report-card {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: var(--special-color);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.manage-buttons {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  gap: 0.5rem;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.report-card:hover .manage-buttons {
  opacity: 1;
  visibility: visible;
}

.manage-icon {
  border: none;
  color: #d3d3d3;
}

::ng-deep .manage-icon:hover tui-svg {
  color: #c03939 !important;
  background-color: #c03939 !important;
}

.report-title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.report-description {
  justify-content: left;
  align-items: center;
  margin-bottom: 0.5rem;
}

[tuiCardLarge][data-space][data-space=normal] {
  --t-space: 0.3rem;
  --t-radius: 0.75rem;
}

[tuiButtonGroup]>button tui-icon {
  font-size: 14px;
}

tui-block-status {
  margin-top: 1rem;
}

.floating-button {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.floating-button button {
  color: var(--special-color);
  background-color: var(--primary-color);
  padding: 0.7rem;
  font-size: 14px;
}

.floating-button icon {
  font-size: 12px;
}

.floating-button button:hover {
  color: var(--primary-color);
  background-color: var(--special-color);
}
