:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--content-background-color);
  color: var(--card-text-color);
}

.header {
  margin-bottom: 1.5rem;
  text-align: center;
}

.filter-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.filter-select {
  width: 250px;
}

.report-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.report-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 12px;
  background-color: #ffffff;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid #e1e5eb;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.report-title {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.report-description {
  font-size: 0.95rem;
  color: var(--card-text-color);
  margin-bottom: 0.4rem;
}

@media (max-width: 600px) {
  .filter-container {
    flex-direction: column;
  }

  .form-container, .filter-select {
    width: 100%;
  }
}