<div class="content-container" [@tuiFadeIn]>
  <p class="page-title">Accedi</p>
  <form
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="signInForm"
      (ngSubmit)="signIn()"
  >
    <tui-textfield>
      <label tuiLabel>Email</label>
      <input formControlName="email" tuiTextfield />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Password</label>
      <input formControlName="password" type="password" tuiTextfield />
    </tui-textfield>

    <footer>
      <button appearance="secondary" tuiButton type="button" [routerLink]="'/reports'">Annulla</button>
      <button [disabled]="!signInForm.valid" tuiButton type="submit">Accedi</button>
    </footer>

    <div style="justify-items: center;">
      <h3>
        oppure
      </h3>
      <button appearance="secondary" tuiButton type="button" (click)="signInWithGoogle()">Accedi con <img src="assets/images/google.png" alt="Google logo"  style="height: 4rem;"></button>
    </div>
  </form>

  <div
    tuiAppearance="floating"
    tuiCardMedium
    class="new-subscriber"
  >
  <h2 tuiTitle="m">
    Non fai ancora parte della community di RovigoSegnala?
  </h2>
  <button tuiButton size="m" type="submit" [routerLink]="'/signup'">Registrati!</button>
  </div>
</div>