html, body, app-root, tui-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --text-color: #1e2636;
  --background-color: #25375e;
  --primary-color: #335383;
  --light-primary-color: #dae6f7;
  --main-bg-color: #f8f3ea;
  --special-color: #fdfdfd;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
}

.page-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-color);
}

p {
  margin-block: unset;
}