/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #1976d2;
    --background-color: #f7f6f6;
    --text-color: #070707;
    --card-text-color: #070707;
}

[data-theme='dark'] {
    --primary-color: #5895c7;
    --background-color: #25375e;
    --text-color: #fcf9f9;
    --card-text-color: #254d81;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--background-color);
    color: var(--text-color);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 95%;
    width: 165px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: var(--primary-color);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
}

.page-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-color);
}